__pycache__
.config/lazygit/state.yml
.config/filezilla/sitemanager.xml
.config/filezilla/filezilla.xml
.config/filezilla/recentservers.xml
.config/htop/htoprc
.config/terminator/config
.config/mimeapps.list
.config/pavucontrol.ini
